<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">


    <bean id="brokerTask" class="com.alibaba.rocketmq.service.gmq.BrokerTaskService"></bean>

    <bean id="brokerJobDetailFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="brokerTask"/>
        </property>
        <property name="targetMethod" value="batchSaveBroker"/>
        <property name="concurrent" value="false"/>  <!-- 设置此参数保证不会并发执行 -->

    </bean>

    <bean id="brokerSimpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="brokerJobDetailFactoryBean"/>
        </property>
        <property name="startDelay" value="8000"/> <!-- 定时任务延迟时间单位毫秒 10*1000 -->
        <property name="repeatInterval" value="8000"/> <!-- 定时任务间隔时间单位毫秒 1*60*1000* -->
    </bean>

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="startQuertz" lazy-init="false" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="brokerSimpleTrigger"></ref>
            </list>
        </property>
        <property name="schedulerName" value="brokerScheduler">
        </property>
    </bean>

</beans>