###add()

<div class="main-content">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>

    <div class="row">
        <div class="col-md-4">
            <br>

            <div id="user" class="tab-content">
                <div class="tab-pane active in" id="home">
                    <form id="UserFORM" name="UserFORM" data-resultType="JSON">
                        #if($!tbodyData.id && $!tbodyData.id != 0)
                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" name="id" value="$!tbodyData.id" class="form-control" readonly>
                            </div>
                        #end
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="userName" value="$!tbodyData.userName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Real Name</label>
                            <input type="text" name="realName" value="$!tbodyData.realName" class="form-control">
                        </div>
                        #if(!$tbodyData)
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" name="password" value="" class="form-control">
                            </div>
                        #end
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" value="$!tbodyData.email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="text" name="mobile" value="$!tbodyData.mobile" class="form-control">
                        </div>
                    </form>
                    <div class="btn-toolbar list-toolbar">
                        <button type="button" class="btn btn-info" onclick="onClik()"><i class=" fa fa-save"></i> Save
                        </button>
                        <a href="$root/user/list.do" data-toggle="modal" class="btn btn-danger">Cancel</a>
                    </div>
                </div>

                <div class="tab-pane fade" id="profile">
                    <form id="tab2" action="$root/user/resetPassword.do" method="post">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="hidden" name="userId" value="$!userId"/>
                            <input type="password" name="resetPassword" class="form-control">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">

    function onClik() {
        var o = new Object();
        var a = $("#UserFORM").serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        var ajaxHandler = new ajaxDataController("$root/user/saveOrUpdate.do", JSON.stringify(o), null, callback, false, "post");
    }

    function callback(data) {
        console.log("result=" + data);
        if (data) {
            window.location.href = "$root/user/list.do";
        }
    }
</script>

