<div class="main-content">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">消费组列表</th>
                    <th class="text-left" colspan="2"></th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th class="text-center">ConsumerGroupID</th>
                    <th class="text-center">Topic</th>
                    <th class="text-center">Operation</th>
                </tr>
                </thead>
                <tbody>
                    #foreach($group in $!tbodyData.consumerGroupId)
                    <tr>
                        <td class="text-center">$group</td>
                        <td class="text-center">$!tbodyData.topic</td>
                        <td class="text-center">
                            <a href="$root/group/consumerProgress.do?consumerGroupId=$group&topic=$!tbodyData.topic">Consumer消费进度</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="$root/connection/consumerConnection.do?consumerGroupId=$group&topic=$!tbodyData.topic">在线Consumer进程</a>
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
    </div>
</div>

