<div class="main-content">
    <ul class="nav nav-tabs"><li class="active">
        <li class="active"><a href="javascript:void(0);" data-toggle="tab" class="input-lg">Topics&nbsp;&nbsp;</a></li>
    </ul>
    <div class="tab-content">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center">Sequence</th>
                <th class="text-center">Topic</th>
                <th class="text-center">state</th>
                <th class="text-center">group</th>
                <th class="text-center" colspan="9"></th>
            </tr>
            </thead>
            <tbody>
                #foreach($topicName in $!tbodyData.topics)
                <tr>
                    <td class="text-center">$!{velocityCount}</td>
                    <td>$topicName</td>
                    <td class="text-center">
                        <a href="$root/guest/topicState.do?topic=$topicName">Topic状态</a>
                    </td>
                    <td class="text-center">
                        <a href="$root/guest/consumeGroup.do?topic=$topicName">消费列表</a>
                    </td>
                    <th class="text-center" colspan="9"><div style="width: 400px;"></div></th>
                </tr>
                #end
            <tfoot>
            <tr>
                <td class="text-left" colspan="6">Total Topic:  $!tbodyData.topics.size()</td>
            </tr>
            </tfoot>
        </table>
    </div>


    <br/><br/>
    <ul class="nav nav-tabs"><li class="active">
        <li class="active"><a href="javascript:void(0);" data-toggle="tab" class="input-lg">重试队列</a></li>
    </ul>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">Sequence&nbsp;&nbsp;</th>
            <th class="text-center">Topic</th>
            <th class="text-center" colspan="11"></th>
        </tr>
        </thead>
        <tbody>
            #foreach($topicName in $!tbodyData.retryTopics)
            <tr>
                <td class="text-center">$!{velocityCount}</td>
                <td>$topicName</td>
                <th class="text-center" colspan="11"><div style="width: 500px;"></div></th>
            </tr>
            #end
        <tfoot>
        <tr>
            <td class="text-left" colspan="6">Total RetryTopics:  $!tbodyData.retryTopics.size()</td>
        </tr>
        </tfoot>
    </table>


    <br/><br/><br/>
    <ul class="nav nav-tabs"><li class="active">
        <li class="active"><a href="javascript:void(0);" data-toggle="tab" class="input-lg">死信队列</a></li>
    </ul>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">Sequence</th>
            <th class="text-center">Topic</th>
            <th class="text-center" colspan="11"></th>
        </tr>
        </thead>
        <tbody>
            #foreach($topicName in $!tbodyData.dlqTopics)
            <tr>
                <td class="text-center">$!{velocityCount}</td>
                <td>$topicName</td>
                <th class="text-center" colspan="11"><div style="width: 500px;"></div></th>
            </tr>
            #end
        <tfoot>
        <tr>
            <td class="text-left" colspan="6">Total DLQTopics:  $!tbodyData.dlqTopics.size()</td>
        </tr>
        </tfoot>
    </table>
</div>
