<div class="dialog">
    <div class="panel panel-default">
        <p class="panel-heading no-collapse">Sign In</p>
        <div class="panel-body">
            <form id="loginForm" action="/gmq/login.do" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="userName" required="" class="form-control span12">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" required="" class="form-control span12 form-control">
                </div>
                <button type="submit" class="btn btn-primary pull-right">Sign In</button>
                <label class="remember-me" style="color: red;">$!errorInfo</label>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <p class="pull-right" style=""></p>
</div>
<script type="text/javascript">
    $(function () {
        $('#loginForm').parsley().on('field:validated', function () {
        }).on('form:submit', function () {
            return true;
        });
    });
</script>
