<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.rocketmq.dao.BrokerDao">

    <!-- `user` 所有查询列 -->
    <sql id="QUERY_COLUMN_LIST">
        <![CDATA[
        id, BrokerName,BrokerId,ClusterName,BrokerIp,BrokerPort,Version,InTps,OutTps,InTotalYest,
        InTotalToday,OutTotalYest,OutTotalToday,RuntimeDate,CreateDate

        ]]>
    </sql>

    <!-- `user` 查询列来源表-->
    <sql id="QUERY_FROM_TABLE"><![CDATA[
        FROM `broker`
        ]]></sql>

    <!-- 全部条件(更多功能可以通过queryData扩展实现)  -->
    <sql id="QUERY_WHERE_CLAUSE">
        <where>
            <if test="id != null and id != ''"><![CDATA[AND id = #{id}]]></if>
            <if test="brokerName != null and brokerName != ''"><![CDATA[AND brokerName = #{brokerName}]]></if>
            <if test="brokerId != null and brokerId != ''"><![CDATA[AND brokerId = #{brokerId}]]></if>
            <if test="clusterName != null and clusterName != ''"><![CDATA[AND clusterName = #{clusterName}]]></if>
            <if test="brokerIp != null and brokerIp != ''"><![CDATA[AND brokerIp = #{brokerIp}]]></if>
            <if test="brokerPort != null and brokerPort != ''"><![CDATA[AND brokerPort = #{brokerPort}]]></if>
        </where>
    </sql>

    <!-- 智能排序与分页 -->
    <sql id="QUERY_ORDER_LIMIT_CONDTION">
        <if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''">
            <![CDATA[ORDER BY ${orderField} ${orderFieldType}]]>
        </if>
        <if test="limitMin != null and limitMax != null and limitMax > 0">
            <![CDATA[ LIMIT ${limitMin}, ${limitMax}]]>
        </if>
    </sql>


    <insert id="insertEntry" parameterType="brokerExt" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `broker`
        (BrokerName,brokerId,ClusterName,BrokerIp,BrokerPort,Version,InTPS,OutTPS,InTotalYest,
        InTotalToday,OutTotalYest,OutTotalToday,RuntimeDate,CreateDate)
        VALUES
        (#{brokerName},#{brokerId},#{clusterName},#{brokerIp},#{brokerPort},#{version},#{inTps},#{outTps},#{inTotalYest},
        #{inTotalToday},#{outTotalYest},#{outTotalTodtay},#{runtimeDate},#{createDate})
    </insert>

    <select id="selectEntryList" parameterType="brokerExt" resultType="brokerExt">
        <![CDATA[SELECT]]>
        <include refid="QUERY_COLUMN_LIST"/>
        <include refid="QUERY_FROM_TABLE"/>
        <include refid="QUERY_WHERE_CLAUSE"/>
        <include refid="QUERY_ORDER_LIMIT_CONDTION"/>
    </select>
</mapper>