<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.rocketmq.dao.UserDao">

	<!-- `user` 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[id,real_name AS realName,user_name AS userName,password,mobile,email,created_time AS createdTime,updated_time AS updatedTime,deleted_time AS deletedTime,state]]>
	</sql>

	<!-- `user` 查询列来源表-->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM `user`]]></sql>
	
	<!-- 全部条件(更多功能可以通过queryData扩展实现)  -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			<if test="id != null and id != ''"><![CDATA[AND id = #{id}]]></if>
			<if test="realName != null and realName != ''"><![CDATA[AND real_name = #{realName}]]></if>
			<if test="userName != null and userName != ''"><![CDATA[AND user_name = #{userName}]]></if>
			<if test="password != null and password != ''"><![CDATA[AND password = #{password}]]></if>
			<if test="mobile != null and mobile != ''"><![CDATA[AND mobile = #{mobile}]]></if>
			<if test="email != null and email != ''"><![CDATA[AND email = #{email}]]></if>
			<if test="createdTime != null and createdTime != ''"><![CDATA[AND created_time = #{createdTime}]]></if>
			<if test="updatedTime != null and updatedTime != ''"><![CDATA[AND updated_time = #{updatedTime}]]></if>
			<if test="deletedTime != null and deletedTime != ''"><![CDATA[AND deleted_time = #{deletedTime}]]></if>
			<if test="state != null and state != ''"><![CDATA[AND state = #{state}]]></if>
		</where>
	</sql>
	
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderField != '' and orderFieldType != null and orderFieldType != ''"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="realName != null"><![CDATA[real_name = #{realName},]]></if>
			<if test="userName != null"><![CDATA[user_name = #{userName},]]></if>
			<if test="password != null"><![CDATA[password = #{password},]]></if>
			<if test="mobile != null"><![CDATA[mobile = #{mobile},]]></if>
			<if test="email != null"><![CDATA[email = #{email},]]></if>
			<if test="createdTime != null"><![CDATA[created_time = #{createdTime},]]></if>
			<if test="updatedTime != null"><![CDATA[updated_time = #{updatedTime},]]></if>
			<if test="deletedTime != null"><![CDATA[deleted_time = #{deletedTime},]]></if>
			<if test="state != null"><![CDATA[state = #{state},]]></if>
		</set>
	</sql>

	<!-- 插入`user`记录 -->
	<insert id="insertEntry" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT INTO `user` (id,real_name,user_name,password,mobile,email,created_time,updated_time,deleted_time,state)
			VALUES (#{id},#{realName},#{userName},#{password},#{mobile},#{email},#{createdTime},#{updatedTime},#{deletedTime},#{state})
		]]>
	</insert>

	<!-- 返回插入的编号,在事务开启状态下有效 -->
	<select id="lastSequence" resultType="int"><![CDATA[SELECT LAST_INSERT_ID() AS id]]></select>

	<!-- 删除记录,主键IN(array) -->
	<delete id="deleteByArrayKey" parameterType="java.lang.reflect.Array" >
		<![CDATA[DELETE FROM `user` WHERE id IN]]>
		<foreach collection="array" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</delete>

	<!-- 删除,通过条件 -->
	<update id="deleteByCondtion" parameterType="user" >
		<![CDATA[DELETE FROM `user`]]>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</update>

	<!-- 修改记录通过主键 -->
	<update id="updateByKey" parameterType="user" >
		<![CDATA[UPDATE `user`]]>
		<include refid="UPDATE_COLUMN_SET"/>
		<![CDATA[WHERE id = #{id}]]>
	</update>

	<!-- 查询,通过主键IN(array) -->
	<select id="selectEntryArray" parameterType="java.lang.reflect.Array" resultType="user">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<![CDATA[WHERE id IN]]>
		<foreach collection="array" item="id" open="(" separator="," close=")">
			<![CDATA[#{id}]]>
		</foreach>
	</select>

	<!-- 查询,通过条件 -->
	<select id="selectEntryList" parameterType="user" resultType="user">
		<![CDATA[SELECT]]>
		<include refid="QUERY_COLUMN_LIST"/>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
		<include refid="QUERY_ORDER_LIMIT_CONDTION"/>
	</select>

	<!-- 总数查询,通过条件 -->
	<select id="selectEntryListCount" parameterType="user" resultType="int">
		<![CDATA[SELECT COUNT(id) AS dataCount]]>
		<include refid="QUERY_FROM_TABLE"/>
		<include refid="QUERY_WHERE_CLAUSE"/>
	</select>
	
	<!-- 其它SQL语句 -->
	
	
</mapper>