<!doctype html>
<html lang="zh-cn"><head>
    <meta charset="utf-8">
    <title>sso-web-manager</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/sso.png"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font-ext/css/family.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../theme/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/extend.css">
    <link rel="stylesheet" type="text/css" href="../fonts/icon-font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../layer/skin/layer.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/html5shiv/html5shiv-3.7.3.min.js"></script>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/respond/respond-1.4.2.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="../bootstrap/3.3.7/js/ie/ie10-viewport-bug-workaround.js"></script>
</head>
<body class="theme-blue">

<!--[if lt IE 7 ]> <body class="ie ie6 "> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<!-- top navbar start -->
<div class="breadcrumb">
    <li><span><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;gome-inc-sso-web</span></li>
    <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <a href="javascript:void(0);" id="a_dropdown" >
                    <span class="glyphicon glyphicon-user padding-right-small"></span> <span id="user-name"></span>
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="text-right">
                    <a href="javascript:void(0);" id="logout" user-name="" user-id="">退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- top navbar end -->

<!-- left navbar start -->
<div class="sidebar-nav">
    <ul is="navbar-ul">
        <li>
            <a href="app.list.html" data-target=".app-manager" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;应用管理
            </a>
        </li>
        <li>
            <a href="user.list.html" data-target=".local-employee" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-legal"></i>&nbsp;用户信息
            </a>
        </li>
        <li>
            <a href="faq.html" data-target=".app-faq" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-comment"></i>&nbsp;FAQ
            </a>
        </li>

    </ul>
</div>
<!-- left navbar end -->


<div class="content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-info">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" id="updateAppForm" method="post">
                            <div class="form-group">
                                <input type="hidden" id="txt_app_id" value=""/>
                                <label for="txt_app_name" class="col-sm-2 control-label">应用名称&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txt_app_name" placeholder="请配置应用名称" required autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_app_link" class="col-sm-2 control-label">应用主页&nbsp;&nbsp;<span
                                        class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txt_app_link"
                                           placeholder="eg. http://www.........." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_app_domain" class="col-sm-2 control-label">应用域名&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txt_app_domain"  placeholder="eg. domain.gome.com.cn" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_app_ip_list" class="col-sm-2 control-label">服务器IP列表&nbsp;&nbsp;<span
                                        class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="hidden" id="hdIps" value=""/>
                                    <textarea type="text" id="txt_app_ip_list" class="form-control" rows="4" required
                                              placeholder="支持IP范围段、单个IP，每行一个IP或IP段 eg. 10.128.31.109 或者 10.128.31.97-132"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt_app_token_expired" class="col-sm-2 control-label">token过期接口&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txt_app_token_expired" placeholder="eg. http://www.gome.inc/demo/tokenExpire" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txt_user_delete_notify" class="col-sm-2 control-label">删除用户通知接口&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txt_user_delete_notify" placeholder="eg. http://www.gome.inc/demo/delUserNotify" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txt_app_token_expired"
                                       class="col-sm-2 control-label">AppKey&nbsp;&nbsp;<span
                                        class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="txt_app_key" readonly="readonly"
                                           placeholder="eg. http://www.gome.inc/demo/tokenExpire" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-2">
                                    <button id="btn_login" class="btn btn-default btn-success" type="button">&nbsp;修&nbsp;改&nbsp;</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <footer id="sso-footer">
                    <hr/>
                    <p class="text-center">
                        <span>Copyright&nbsp;&nbsp;©</span>
                        <span id="copyrightYear"></span>
                        <span>&nbsp;&nbsp;成都基础平台架构部<a href="mailto:cdxxjcpt@gome.com.cn" title="cdxxjcpt@gome.com.cn"><i class="glyphicon glyphicon-envelope"></i></a></span>
                        <span>&nbsp;&nbsp;All rights reserved.</span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
<script type="text/javascript" src="../js/common/ajax.data.controller.js"></script>
<script type="text/javascript" src="../js/common/web.data.common.js"></script>
<script type="text/javascript" src="../js/common/util.js"></script>
<script type="text/javascript" src="../js/common/config.js"></script>

<script type="text/javascript">

    $(function () {
        $("#copyrightYear").html(new Date().getFullYear());

        handler_query_user();

        handler_query_app();

        $("#logout").click(function () {
            handler_logout();
        });

        $("#btn_login").click(function () {
            update_app_info();
        });
    })

    function update_app_info() {
        if (!validate_app_param()) {
            return;
        }
        var param = new Object();
        param.appId = $.trim($("#txt_app_id").val());
        param.appName = $.trim($("#txt_app_name").val());
        param.appUrl = $.trim($("#txt_app_link").val()) || "";
        param.domain = $.trim($("#txt_app_domain").val());
        param.expiredApi = $.trim($("#txt_app_token_expired").val());
        param.delUserApi = $.trim($("#txt_user_delete_notify").val());
        var ipHtml = $.trim($("#txt_app_ip_list").val());
        var ips = ipHtml.replace(/\s/g, ",");
        $("#hsIps").val(ips);
        param.ip = ips;
        myConsoleLog("ip list =" + param.ip);

        ajaxDataController(globalApi("api.app.update"), JSON.stringify(param), null, function (data) {
            if (data.data > 0) {
                successGotoUrl("修改应用成功.", "app.list.html");
            } else {
                errorMsg("修改应用失败. 原因是: " + data.msg);
            }
        }, true, "post");
    }

    function handler_query_app() {
        var id = getUrlParameter("appId");
        if (!id || isNaN(Number(id)) || Number(id) <= 0) {
            errorGotoUrl("URL需要包括appId参数.", "app.list.html");
        }
        var app_update_api = globalApi("api.app.get") + "&appId=" + Number(id);
        ajaxDataController(app_update_api, {}, null, function (data) {
            if (data.data) {
                $("#txt_app_id").val(data.data.appId);
                $("#txt_app_name").val(data.data.appName);
                $("#txt_app_link").val(data.data.appUrl);
                $("#txt_app_domain").val(data.data.domain);
                var ipHtml = "";
                var ips = data.data.ip.split(",");
                $.each(ips, function (index, el) {
                    ipHtml += ips[index] + "\n";
                });
                $("#txt_app_ip_list").val(ipHtml);
                $("#txt_app_token_expired").val(data.data.expiredApi);
                $("#txt_user_delete_notify").val(data.data.delUserApi);
                $("#txt_app_key").val(data.data.appKey);
            } else {
                errorGotoUrl("获取appId参数失败.", "app.list.html");
            }
        }, true, "get");
    }

</script>