<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/sso.png"/>
    <title>sso-login</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="../css/signin.css">
    <link rel="stylesheet" type="text/css" href="../layer/skin/layer.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/html5shiv/html5shiv-3.7.3.min.js"></script>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/respond/respond-1.4.2.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="../bootstrap/3.3.7/js/ie/ie10-viewport-bug-workaround.js"></script>
</head>

<body>
<div class="container">
    <div class="panel panel-default panel-info">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div id="divLoginForm">
                        <div class="form-signin">
                            <form class="form-horizontal" id="loginForm" method="post">
                                <div class="form-group">
                                    <input name="appKey" id="appKey" type="hidden" value=""/>
                                    <input name="redirectUrl" id="redirectUrl" type="hidden" value=""/>
                                    <h2 class="form-signin-heading text-center">
                                        <img alt="" src="../images/logo-new.png" class="img-rounded">
                                    </h2>
                                </div>
                                <div class="form-group">
                                    <label for="txt_user_name" class="sr-only">UserName</label>
                                    <input type="text" id="txt_user_name" name="userName" class="form-control"
                                           placeholder="User Name" required
                                           autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="txt_password" class="sr-only">Password</label>
                                    <input type="password" id="txt_password" name="password" class="form-control"
                                           placeholder="Password"
                                           required>
                                </div>

                                <div class="form-group hidden">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1" name="rememberMe" id="rememberMe">&nbsp;记住密码
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button id="btn_login" class="btn btn-lg btn-success btn-block text-center"
                                            type="button">登&nbsp;&nbsp;&nbsp;&nbsp;录
                                    </button>
                                </div>
                            </form> <!--  loginForm end  -->
                        </div>
                    </div> <!--  divLoginForm end  -->

                    <div id="divAppForm" class="sso-div-hidden">
                        <div class="breadcrumb">
                           <li><span><img alt="" src="../images/logo-new.png" class="img-rounded"></span></li>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 center-block ">
                                    <span>用户名:</span> <span id="user_name"></span>
                                </div>

                                <div class="col-md-5 center-block">
                                    <span>职&nbsp;&nbsp;位:</span> <span id="user_post"></span>
                                </div>

                                <div class="col-md-3 center-block">
                                    <span>上次登陆:</span> <span id="last_login_time"></span>
                                </div>

                                <div class="col-md-1 center-block">
                                    <a href="/app/signout" id="btn_loginout" class="btn btn-sm btn-info btn-block text-center">登出</a>
                                </div>

                                <br/><br/><br/><br/><br/><br/>
                            </div>
                        </div>
                    </div> <!-- /divAppForm end  -->
                </div>
            </div> <!-- /main login div end  -->

            <div id="divSsoAppList">
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 text-left input-lg sso-app-title-text"><span><strong>SSO域应用</strong></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" id="divShowAppLink">
                            </div>
                        </div>
                    </div>
                </div> <!-- / app-list div end  -->

                <footer id="sso-footer">
                    <hr/>
                    <p class="text-center">
                        <span>Copyright&nbsp;&nbsp;©</span>
                        <span id="copyrightYear"></span>
                        <span>&nbsp;&nbsp;成都基础平台架构部<a href="mailto:cdxxjcpt@gome.com.cn" title="cdxxjcpt@gome.com.cn"><i class="glyphicon glyphicon-envelope"></i></a></span>
                        <span>&nbsp;&nbsp;All rights reserved.</span>
                    </p>
                </footer>
            </div><!-- /app list end  -->
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>

<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
<script type="text/javascript" src="../js/common/util.js"></script>
<script type="text/javascript" src="../js/common/ajax.data.controller.js"></script>
<script type="text/javascript" src="../js/common/config.js"></script>
<script type="text/javascript" src="../js/common/web.data.common.js"></script>

<script type="text/javascript">
    $(function () {
        $("#copyrightYear").html(new Date().getFullYear());

        query_sso_userinfo();

        load_sso_app_list();

        $("#txt_password").keypress(function (event) {
            if (event.keyCode == "13") {
                sso_login();
            }
        });

        $("#btn_login").click(function () {
            sso_login();
        });

    });

</script>
