<!doctype html>
<html lang="zh-cn"><head>
    <meta charset="utf-8">
    <title>sso-web-manager</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/sso.png"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font-ext/css/family.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../theme/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/extend.css">
    <link rel="stylesheet" type="text/css" href="../fonts/icon-font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../layer/skin/layer.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/html5shiv/html5shiv-3.7.3.min.js"></script>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/respond/respond-1.4.2.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="../bootstrap/3.3.7/js/ie/ie10-viewport-bug-workaround.js"></script>
</head>
<body class="theme-blue">

<!--[if lt IE 7 ]> <body class="ie ie6 "> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<!-- top navbar start -->
<div class="breadcrumb">
    <li><span><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;gome-inc-sso-web</span></li>
    <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <a href="javascript:void(0);" id="a_dropdown" >
                    <span class="glyphicon glyphicon-user padding-right-small"></span> <span id="user-name"></span>
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="text-right">
                    <a href="javascript:void(0);" id="logout" user-name="" user-id="">退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- top navbar end -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-info">
                <div class="panel-body">
                    <div class="panel panel-default panel-info">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 text-left">
                                        <span><b>姓&nbsp;&nbsp;名:</b></span> <span>田玉粮</span>
                                    </div>

                                    <div class="col-md-3 text-left">
                                        <span><b>上次登陆:</b></span> <span>2016-11-15 10:32:10</span>
                                    </div>

                                    <div class="col-md-3 text-left">
                                        <span><b>邮&nbsp;&nbsp;箱:</b></span> <span>tianyuliang@gome.com.cn</span>
                                    </div>

                                    <div class="col-md-4 text-left">
                                        <span><b>职&nbsp;&nbsp;位:</b></span> <span>产品开发中心.服务架构部.开发工程师</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-2 text-left">
                                        <span><b>姓&nbsp;&nbsp;名:</b></span> <span>田玉粮</span>
                                    </div>

                                    <div class="col-md-3 text-left">
                                        <span><b>上次登陆:</b></span> <span>2016-11-15 10:32:10</span>
                                    </div>

                                    <div class="col-md-4 text-left">
                                        <span><b>职&nbsp;&nbsp;位:</b></span> <span>产品开发中心.服务架构部.开发工程师</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br/>

                    <div class="panel panel-default panel-info">
                        <div class="panel-heading"><div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 text-left input-lg">
                                    <span><b>导航列表</b></span>
                                </div>
                            </div>
                        </div></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12" id="divShowAppLink">

                                    <!--  <div class="col-md-3 text-left">
                                        <a href="http://cmdb.pt.gomedc.com" class="btn btn-lg btn-success btn-block text-center" target="_blank">CMDB</a>
                                    </div>

                                    <div class="col-md-3 text-left">
                                        <a href="http://cmdb.pt.gomedc.com" class="btn btn-lg btn-success btn-block text-center" target="_blank">CMDB</a>
                                    </div>

                                    <div class="col-md-3 text-left">
                                        <a href="http://cmdb.pt.gomedc.com" class="btn btn-lg btn-success btn-block text-center" target="_blank">CMDB</a>
                                    </div>

                                    <div class="col-md-3 text-left">
                                        <a href="http://cmdb.pt.gomedc.com" class="btn btn-lg btn-success btn-block text-center" target="_blank">CMDB</a>
                                    </div>
                                    <br/><br/><br/>
                                    <div class="col-md-3 text-left">
                                        <a href="http://cmdb.pt.gomedc.com" class="btn btn-lg btn-success btn-block text-center" target="_blank">CMDB</a>
                                    </div>
                                    <br/><br/><br/> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <br/><br/><br/>
                <footer id="sso-footer">
                    <p class="text-center">
                        <span>Copyright&nbsp;&nbsp;©</span>
                        <span id="copyrightYear"></span>
                        <span>&nbsp;&nbsp;成都基础平台架构部<a href="mailto:cdxxjcpt@gome.com.cn" title="cdxxjcpt@gome.com.cn"><i class="glyphicon glyphicon-envelope"></i></a></span>
                        <span>&nbsp;&nbsp;All rights reserved.</span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
<script type="text/javascript" src="../js/common/ajax.data.controller.js"></script>
<script type="text/javascript" src="../js/common/web.data.common.js"></script>
<script type="text/javascript" src="../js/common/util.js"></script>
<script type="text/javascript" src="../js/common/config.js"></script>

<script type="text/javascript">

    $(function () {
        $("#copyrightYear").html(new Date().getFullYear());

        //handler_query_user();

        load_sso_app();

        $("#logout").click(function () {
            //handler_logout();
        });

    })

    function load_sso_app() {
        // for test
        var data = appAllTest();
        if (data && data.code === 0 && data.data.length > 0) {
            handler_app_div(data.data);
        } else {
            errorMsg("获取应用列表异常. msg=" + data.msg);
        }

        // for dev
        /*ajaxDataController(globalApi("api.app.all"), {}, null, function (data) {
            if (data && data.code === 0 && data.data.length > 0) {
                handler_app_div(data.data);
            } else {
                errorMsg("获取应用列表异常. msg=" + data.msg);
            }
        }, true, "get");*/
    }

    function handler_app_div(bodyData) {
        var divHtml = '';
        var isNewLine = false;
        $.each(bodyData, function (index, el) {
            isNewLine = index > 0 && (index % 4 ) == 0 ? true : false; // 每行四个应用，超过则换行
            divHtml += joinAppInfo(bodyData[index].appUrl, bodyData[index].appName, isNewLine);
        });
        $("#divShowAppLink").empty();
        $("#divShowAppLink").append(divHtml);
    }

    function joinAppInfo(linkUrl, value, isNewLine) {
        var divAppHtml = ''
                + '<div class="col-md-2 text-left">'
                + '<a href="' + linkUrl + '" class="btn btn-lg btn-success btn-block text-center" target="_blank">' + value + '</a>'
                + '</div>';
        if (isNewLine === true) {
            divAppHtml += '<br/><br/><br/>';
        }
        myConsoleLog("divAppHtml = " + divAppHtml)
        return divAppHtml;
    }
    
</script>