<!doctype html>
<html lang="zh-cn"><head>
    <meta charset="utf-8">
    <title>sso-web-manager</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/sso.png"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font-ext/css/family.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../theme/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/extend.css">
    <link rel="stylesheet" type="text/css" href="../fonts/icon-font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../layer/skin/layer.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/html5shiv/html5shiv-3.7.3.min.js"></script>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/respond/respond-1.4.2.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="../bootstrap/3.3.7/js/ie/ie10-viewport-bug-workaround.js"></script>
</head>
<body class="theme-blue">

<!--[if lt IE 7 ]> <body class="ie ie6 "> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<!-- top navbar start -->
<div class="breadcrumb">
    <li><span><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;gome-inc-sso-web</span></li>
    <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <a href="javascript:void(0);" id="a_dropdown" >
                    <span class="glyphicon glyphicon-user padding-right-small"></span> <span id="user-name"></span>
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="text-right">
                    <a href="javascript:void(0);" id="logout" user-name="" user-id="">退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- top navbar end -->

<!-- left navbar start -->
<div class="sidebar-nav">
    <ul is="navbar-ul">
        <li>
            <a href="app.list.html" data-target=".app-manager" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;应用管理
            </a>
        </li>
        <li>
            <a href="user.list.html" data-target=".local-employee" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-legal"></i>&nbsp;用户信息
            </a>
        </li>
        <li>
            <a href="faq.html" data-target=".app-faq" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-comment"></i>&nbsp;FAQ
            </a>
        </li>
    </ul>
</div>
<!-- left navbar end -->


<div class="content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-info">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" id="form_user_list" method="post">
                            <input type="hidden" id="newPassword" value="">
                            <div class="row" id="toolbar_user_list">
                                <div class="col-md-2 text-left">
                                    <a href="user.add.html" id="link-add-user" class="btn btn-default btn-sm btn-success">&nbsp;新&nbsp;增&nbsp;</a>
                                </div>
                                <div class="col-md-5">
                                    &nbsp;
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-9 text-right">
                                            <input type="text" class="form-control" id="search_user_name" value=""
                                                   placeholder="用户名"/>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button type="button" class="btn btn-default btn-sm btn-success" onclick="search_user_name()" name="refresh" title="刷新">
                                                &nbsp;查&nbsp;询&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <table id="table_user_list" class="table table-striped table-hover">
                        </table>
                    </div>
                </div>
                <footer id="sso-footer">
                    <hr/>
                    <p class="text-center">
                        <span>Copyright&nbsp;&nbsp;©</span>
                        <span id="copyrightYear"></span>
                        <span>&nbsp;&nbsp;成都服务架构部<a href="mailto:cdxxjcpt@gome.com.cn" title="cdxxjcpt@gome.com.cn"><i class="glyphicon glyphicon-envelope"></i></a></span>
                        <span>&nbsp;&nbsp;All rights reserved.</span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap-table.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
<!--  layer.js默认方法里面不含有layer.prompt方法，使用此方法需要引用扩展js  -->
<script type="text/javascript" src="../layer/extend/layer.ext.js"></script>
<script type="text/javascript" src="../js/common/ajax.data.controller.js"></script>
<script type="text/javascript" src="../js/common/user.list.ops.js"></script>
<script type="text/javascript" src="../js/common/web.data.common.js"></script>
<script type="text/javascript" src="../js/common/util.js"></script>
<script type="text/javascript" src="../js/common/config.js"></script>

<script type="text/javascript">

    $(function () {
        $("#copyrightYear").html(new Date().getFullYear());
        handler_query_user();

        $("#logout").click(function () {
            handler_logout();
        });
    })


    /**
     * 用户列表的click事件
     */
    function handler_user_list_click() {
        $("#table_user_list").bind("click", function (e) {
            handler_delete_user(e.target);      // 删除用户
            handler_reset_password(e.target);   // 重置密码
            e.preventDefault();
        });
    }

</script>