<!doctype html>
<html lang="zh-cn"><head>
    <meta charset="utf-8">
    <title>sso-web-manager</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/sso.png"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font-ext/css/family.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../theme/theme.css">
    <link rel="stylesheet" type="text/css" href="../css/extend.css">
    <link rel="stylesheet" type="text/css" href="../fonts/icon-font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../bootstrap/3.3.7/css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../layer/skin/layer.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/html5shiv/html5shiv-3.7.3.min.js"></script>
    <script type="text/javascript" src="../bootstrap/3.3.7/js/respond/respond-1.4.2.min.js"></script>
    <![endif]-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="../bootstrap/3.3.7/js/ie/ie10-viewport-bug-workaround.js"></script>
</head>
<body class="theme-blue">

<!--[if lt IE 7 ]> <body class="ie ie6 "> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<!-- top navbar start -->
<div class="breadcrumb">
    <li><span><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;gome-inc-sso-web</span></li>
    <ul id="main-menu" class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
            <div class="dropdown-toggle" data-toggle="dropdown">
                <a href="javascript:void(0);" id="a_dropdown" >
                    <span class="glyphicon glyphicon-user padding-right-small"></span> <span id="user-name"></span>
                    <i class="fa fa-caret-down"></i>
                </a>
            </div>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="text-right">
                    <a href="javascript:void(0);" id="logout" user-name="" user-id="">退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- top navbar end -->

<!-- left navbar start -->
<div class="sidebar-nav">
    <ul is="navbar-ul">
        <li>
            <a href="app.list.html" data-target=".app-manager" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;应用管理
            </a>
        </li>
        <li>
            <a href="user.list.html" data-target=".local-employee" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-legal"></i>&nbsp;用户信息
            </a>
        </li>
        <li>
            <a href="faq.html" data-target=".app-faq" class="nav-header" data-toggle="collapse">
                <i class="fa fa-fw fa-comment"></i>&nbsp;FAQ
            </a>
        </li>

    </ul>
</div>
<!-- left navbar end -->


<div class="content">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-info">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" id="addLocalUserForm" method="post">
                            <div class="form-group">
                                <label for="user_name" class="col-sm-2 control-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="user_name" placeholder="请配置登陆名" required autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">登陆密码&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="password"  placeholder="请配置密码" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="real_name" class="col-sm-2 control-label">真实姓名&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="real_name" placeholder="请配置真实姓名" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="man" class="col-sm-2 control-label">员工性别&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="gender" id="man" value="1" checked> 男
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="gender" id="woman"  value="2"> 女
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_post" class="col-sm-2 control-label">用户岗位&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="user_post" placeholder="请配置用户岗位" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tmp_user" class="col-sm-2 control-label">用户类别&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <label class="checkbox-inline">
                                        <input type="radio" name="user-type" id="tmp_user" value="1" checked> 外包人员
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="user-type" id="regular_user" value="2"> 正式员工
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company" class="col-sm-2 control-label">所属公司&nbsp;&nbsp;<span class="input-text-muted">*</span></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="company" placeholder="请配置公司名称" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-2">
                                    <button id="btn-add-user" class="btn btn-default btn-success" type="button">&nbsp;新&nbsp;增&nbsp;</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <footer id="sso-footer">
                    <hr/>
                    <p class="text-center">
                        <span>Copyright&nbsp;&nbsp;©</span>
                        <span id="copyrightYear"></span>
                        <span>&nbsp;&nbsp;成都服务架构部<a href="mailto:cdxxjcpt@gome.com.cn" title="cdxxjcpt@gome.com.cn"><i class="glyphicon glyphicon-envelope"></i></a></span>
                        <span>&nbsp;&nbsp;All rights reserved.</span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript" src="../js/jquery/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../bootstrap/3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
<script type="text/javascript" src="../js/common/ajax.data.controller.js"></script>
<script type="text/javascript" src="../js/common/web.data.common.js"></script>
<script type="text/javascript" src="../js/common/util.js"></script>
<script type="text/javascript" src="../js/common/config.js"></script>

<script type="text/javascript">

    $(function () {
        $("#copyrightYear").html(new Date().getFullYear());

        handler_query_user();

        $("#logout").click(function () {
            handler_logout();
        });

        $("#btn-add-user").click(function () {
            if (!validate_user_param()) {
                return;
            }

            var param = new Object();
            param.userName = $.trim($("#user_name").val()) || "";
            param.password = $.trim($("#password").val()) || "";
            param.realName = $.trim($("#real_name").val()) || "";
            param.post = $.trim($("#user_post").val()) || "";
            param.company = $.trim($("#company").val()) || "";
            param.type = $("input[name='user-type']:checked").val();
            param.sex = $("input[name='gender']:checked").val();

            ajaxDataController(globalApi("api.user.add"), JSON.stringify(param), null, function (data) {
                if (data && data.code === 0 && data.data > 0) {
                    successGotoUrl("新增用户成功.", "user.list.html");
                } else {
                    tipsUserIdMsg(data.msg, "#user_name");
                    $("#user_name").focus();
                }
            }, true, "post");
        });
    })


</script>