<div class="main-content">
    <h2>consumer  group  subscribe  topic  list</h2><br/>
    <table class="table table-bordered table-hover">
        <tbody>
        <form action="$action" method="post">
            <tr>
                <th style="text-align: center;width: 20%;">
                    <center>
                        consumerGroupID&nbsp;<font color="red">*</font>
                    </center>
                </th>
                <td style="width: 25%;" class="text-center">
                    <input id="txtGroupId" name="groupId" type="text" class="form-control" style="width: 240px;"
                           value="$!tbodyData.groupId"/>
                </td>
                <td style="width: 15%;" class="text-center">
                    <center>
                        <button class="btn btn-sm btn-info" type="submit">Submit</button>
                    </center>
                </td>
                <td style="width: 40%;"></td>
            </tr>
        </form>
        </tbody>
    </table>
</div>


<div class="main-content">
    <div id="hdGroupId" style="display: none;">$!tbodyData.groupId</div>
    <br/>
    #if($!tbodyData.list && $!tbodyData.list.size() > 0)
        <table class="table">
            <thead>
            <tr>
                <th>Topic</th>
                <th>Broker Name</th>
                <th>QueueID</th>
                <th>Broker Offset</th>
                <th>Consumer Offset</th>
                <th>Diff</th>
                <th class="text-center">Other</th>
            </tr>
            </thead>
            <tbody>
                #foreach($groupVo in $!tbodyData.list)
                <tr>
                    <td>$!{groupVo.topic}</td>
                    <td>$!{groupVo.brokerName}</td>
                    <td>$!{groupVo.queueId}</td>
                    <td>$!{groupVo.brokerOffset}</td>
                    <td>$!{groupVo.consumerOffset}</td>
                    <td>$!{groupVo.diffOffset}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-info" type="button" onclick="stat('$groupVo.topic')">Stat</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-sm btn-info" type="button" onclick="route('$groupVo.topic')">Route
                        </button>
                    </td>
                </tr>
                #end
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-left">Consume TPS:  $!tbodyData.tps</td>
                    <td class="text-left" colspan="6"></td>
                </tr>
                <tr>
                    <td class="text-left">Diff Total:  $!tbodyData.diffTotal</td>
                    <td class="text-left" colspan="6"></td>
                </tr>
                #if($!tbodyData.list && $!tbodyData.list.size() > 50)
                <tr>
                    <td class="text-left" colspan="7">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </td>
                </tr>
                #end
            </tfoot>
        </table>
    #end
</div>

<script language="javascript">

    function stat(topicName) {
        var groupId = $("#hdGroupId").html();
        var gotoAction = "$root/group/topicStats.do?";
        XUI.gotoPageHref(gotoAction + "topicName=" + topicName + "&groupId=" + groupId);
    }

    function route(topicName) {
       // XUI.gotoPageHref("$root/topic/route.do?topic=" + topicName);
        var groupId = $("#hdGroupId").html();
        var gotoAction = "$root/group/topicRoute.do?";
        XUI.gotoPageHref(gotoAction + "topicName=" + topicName + "&groupId=" + groupId);
    }

</script>


