<div class="main-content">

    #if($tbodyData.brokerDatas && $tbodyData.brokerDatas.size() > 0)
        <h3>brokerDatas</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>topicName</th>
            <th>brokerName</th>
            <th>brokerRole</th>
            <th>brokerAddr</th>
        </tr>
        </thead>
    <tbody>
        #foreach($brokerData in $tbodyData.brokerDatas)
        <tr>
            <td>${tbodyData.topicName}</td>
            <td>${brokerData.brokerName}</td>
        <td>
            #foreach($data in $brokerData.brokerAddrs.entrySet())
            <span>
                #if(${data.key} == 0)
                    Master
                #else
                    Salve
                #end

        </span> <br/>
        #end
    </td>
        <td>
            #foreach($data in $brokerData.brokerAddrs.entrySet())
                <span>${data.value}</span> <br/>
            #end
        </td>
    </tr>
    #end
</tbody>
</table>
#end

    <br/>
    <br/>

    #if($tbodyData.queueDatas && $tbodyData.queueDatas.size() > 0)
        <h3>queueDatas</h3>
        <table class="table">
            <thead>
            <tr>
                <th>topicName</th>
                <th>brokerName</th>
                <th>readQueueNums</th>
                <th>writeQueueNums</th>
                <th>perm</th>
                <th>topicSynFlag</th>
                <th colspan="4"></th>
            </tr>
            </thead>
            <tbody>
                #foreach($queueData in $tbodyData.queueDatas)
                <tr>
                    <td>$!{tbodyData.topicName}</td>
                    <td>$!{queueData.brokerName}</td>
                    <td>$!{queueData.readQueueNums}</td>
                    <td>$!{queueData.writeQueueNums}</td>
                    <td>$!{queueData.perm}</td>
                    <td>$!{queueData.topicSynFlag}</td>
                    <td colspan="4"></td>
                </tr>
                #end
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" colspan="9"></td>
                <td class="text-center">
                    <input type="hidden" id="currTopic" name="topic" value="$!tbodyData.topicName">
                    <input type="hidden" id="currGroupId" name="groupId" value="$!tbodyData.groupId">
                    <button class="btn btn-sm btn-info" type="button" onclick="goBack()">返回</button>
                </td>
            </tr>
            </tfoot>
        </table>
    #end

</div>


<script language="javascript">

    function goBack() {
        var topic = $("#currTopic").val();
        var groupId = $("#currGroupId").val();
        var strUrl = "$root/group/consumerProgress.do?groupId=" + groupId + "&topic=" + topic;
        window.location.href = strUrl;
    }
</script>
