<div class="main-content">
    #if($!tbodyData.statsList && $!tbodyData.statsList.size() > 0)
        <table class="table">
            <thead>
            <tr>
                <th>Topic</th>
                <th>BrokerName</th>
                <th>QueueID</th>
                <th>Max Offset</th>
                <th>Min Offset</th>
                <th>Last Updated</th>
            </tr>
            </thead>
            <tbody>
                #foreach($statsVo in $!tbodyData.statsList)
                <tr>
                    <td>$!{statsVo.topic}</td>
                    <td>$!{statsVo.brokerName}</td>
                    <td>$!{statsVo.queueId}</td>
                    <td>$!{statsVo.maxOffset}</td>
                    <td>$!{statsVo.minOffset}</td>
                    <td>$!{statsVo.lastUpdated}</td>
                </tr>
                #end
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="5"></td>
                    <td class="text-center" >
                        <div id="hdGroupId" style="display: none;">$!tbodyData.groupId</div>
                        <button class="btn btn-sm btn-info" type="button" onclick="goBack()">返回</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    #end
</div>


<script language="javascript">

    function goBack() {
        var groupId = $("#hdGroupId").html();
        var gotoAction = "$root/group/consumerGroup.do?";
        XUI.gotoPageHref(gotoAction + "&groupId=" + groupId);
    }
</script>
