<div class="main-content">

    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-info" onclick="add()"><i class="fa fa-plus"></i> New Topic</button>
        <div class="btn-group">
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">Sequence</th>
            <th class="text-center">Topic</th>
            <th class="text-center" colspan="3">operations</th>
            <th class="text-center" style="width:35em;"></th>
        </tr>
        </thead>
        <tbody>
            #foreach($topicName in $!tbodyData.topics)
            <tr>
                <td class="text-center">$!{velocityCount}</td>
                <td>$topicName</td>
                <td class="text-center">
                    <a href="javascript:void(0)" onclick="stats('$topicName')" role="button">
                        <i class="fa fa-table"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="javascript:void(0)" onclick="showDelConfir('$topicName', 'Update')" role="button">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="javascript:void(0)" onclick="showDelConfir('$topicName', 'Delete')" role="button">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
                <td style="width:35em;">&nbsp;</td>
            </tr>
            #end
        <tfoot>
        <tr>
            <td class="text-left" colspan="6">Total Topic:  $!tbodyData.topics.size()</td>
        </tr>
        </tfoot>
    </table>

    <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Topic Change Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text">
                        <i class="fa fa-warning modal-icon"></i>
                        Are you sure you want to <span id="spTips"></span> the topic ?
                    </p>
                    <br/>

                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <th class="text-right">topic <font color="red">*</font></th>
                            <td>
                                <div class="col-xs-3">
                                    <input type="text" id="txtTopic" value="" readonly="true"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-right">cluster <font color="red">*</font></th>
                            <td>
                                <div class="col-xs-3">
                                    <select id="selectClusterName">
                                        #foreach($data in $!tbodyData.clusterNames)
                                            <option data="$data">$data</option>
                                        #end
                                    </select>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-info" data-dismiss="modal" id="btnModal" onclick="submit()" flag=""/>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    function showDelConfir(topicName, flag) {
        $("#txtTopic").val(topicName);
        $("#spTips").html(flag);
        $("#btnModal").attr("flag", flag);
        $("#btnModal").html(flag);
        $("#myModal").modal("show");
    }

    function submit() {
        var flag = $("#btnModal").attr("flag");
        if (flag == "Update") {
            update();
        } else {
            del();
        }
    }

    function add() {
        XUI.gotoPageHref("$root/gmq/topic/add.do");
    }

    function del() {
        var topicName = $("#txtTopic").val();
        var clusterName = $("#selectClusterName option:selected").val();
        XUI.gotoPageHref("$root/gmq/topic/delete.do?topicName=" + topicName + "&clusterName=" + clusterName);
    }

    function stats(topicName) {
        XUI.gotoPageHref("$root/gmq/topic/stats.do?topicName=" + topicName);
    }

    function update() {
        var topicName = $("#txtTopic").val();
        var clusterName = $("#selectClusterName option:selected").val();
        XUI.gotoPageHref("$root/gmq/topic/queryTopicQueueData.do?topicName=" + topicName + "&clusterName=" + clusterName);
    }
</script>
