<div class="header">

    <h1 class="page-title">Edit User</h1>
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="users.html">Users</a></li>
        <li class="active">jsmith</li>
    </ul>
</div>