##		<div class="header">
##            <div class="stats">
##                <p class="stat"><span class="label label-info">5</span> Tickets</p>
##                <p class="stat"><span class="label label-success">27</span> Tasks</p>
##                <p class="stat"><span class="label label-danger">15</span> Overdue</p>
##            </div>
##            <h1 class="page-title">Cluster</h1>
##            <ul class="breadcrumb">
##                <li><a href="index.html">Home</a></li>
##                <li class="active">test</li>
##            </ul>
##        </div>

<div class="header">
    <h1 class="page-title">gmq console</h1>
    <ul class="breadcrumb">
        <li><a href="$root/index.html">Home</a></li>
        #parseTitle($title)
    </ul>
</div>