<footer>
    <hr>
    <p class="pull-right">
        Copyright ©
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
        Powered by <a href="http://www.gome.com.cn" target="_blank"> Gome</a>
    </p>
</footer>