
    ## 注意此处引入js文件的顺序
    <script type="text/javascript" src="$root/js/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="$root/js/common/base.js" ></script>
    <script type="text/javascript" src="$root/js/common/ajaxDataController.js" ></script>
    <script type="text/javascript" src="$root/js/jQuery-Knob/js/jquery.knob.js" ></script>
    <script type="text/javascript" src="$root/js/parsley.min.js" ></script>

    <script type="text/javascript">
        $(function() {
            // 按钮旋转插件
            $(".knob").knob();

            var match = document.cookie.match(new RegExp('color=([^;]+)'));
            if(match) var color = match[1];
            if(color) {
                $('body').removeClass(function (index, css) {
                    return (css.match (/\btheme-\S+/g) || []).join(' ')
                })
                $('body').addClass('theme-' + color);
            }

            // 悬浮某个区域，弹出对话框的html内容
            $('[data-popover="true"]').popover({html: true});


            // 右上角user区域样式(来源于左侧导航菜单)
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());

        });

    </script>
	
	
