    <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
    <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
    <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->

    <div class="navbar navbar-default" role="navigation">
        <!-- start logo navbar -->
        <div class="navbar-header">
            <a href="index.html">
                <span class="navbar-brand"><span class="fa fa-paper-plane"></span>&nbsp; GMQ Consonle</span>
            </a>
        </div>
        <!-- end logo navbar -->

        <!-- start user info -->
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"/>&nbsp;
                        userName <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu"> <!-- 下拉菜单class样式 -->
                        <li><a href="#">My Account</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Admin Panel</li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a tabindex="-1" href="#">Payments</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end user info -->
    </div>

    <div class="sidebar-nav">
        <ul>
            <li #if($cluster_flag) class="$cluster_flag" #end>
                <a href="$root/cluster/list.do" class="nav-header" data-toggle="collapse" data-target=".dashboard-menu">
                    <i class="fa fa-fw fa-dashboard"></i> Cluster
                </a>
            </li>

            <li #if($user_flag) class="$user_flag" #end>
                <a href="$root/user/list.do" class="nav-header" data-toggle="collapse" data-target=".dashboard-menu">
                    <i class="fa fa-fw fa-question-circle"></i> User
                </a>
            </li>

            <li>
                <a href="$root/topic/list.do" class="nav-header" data-toggle="collapse" data-target=".dashboard-menu">
                    <i class="fa fa-fw fa-paragraph"></i> Topic
                </a>
            </li>


            <li data-popover="true" rel="popover" data-placement="right">
                <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".connection-menu">
                    <i class="fa fa-fw fa-fighter-jet"></i> Connection<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="connection-menu nav nav-list collapse">
                    <li><a href="$root/connection/consumerConnection.do"><span class="fa fa-caret-right"></span> ConsumerConnection</a></li>
                    <li><a href="$root/connection/producerConnection.do"><span class="fa fa-caret-right"></span> ProducerConnection</a></li>
                </ul>
            </li>


            <li data-popover="true" rel="popover" data-placement="right">
                <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".account-menu">
                    <i class="fa fa-fw fa-briefcase"></i> Account<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="account-menu nav nav-list collapse">
                    <li><a href="privacy-policy.html"><span class="fa fa-caret-right"></span> Sign In</a></li>
                    <li><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Sign Up</a></li>
                    <li><a href="terms-and-conditions.html"><span class="fa fa-caret-right"></span> Reset Password</a></li>
                </ul>
            </li>


            <li>
                <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".nameSrv-menu">
                    <i class="fa fa-fw fa-tags"></i> NameSrv<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="nameSrv-menu nav nav-list collapse">
                    <li><a href="$root/namesrv/updateKvConfig.do"><span class="fa fa-caret-right"></span> UpdateKvConfig</a></li>
                    <li><a href="$root/namesrv/updateKvConfig.do"><span class="fa fa-caret-right"></span> DeleteKvConfig</a></li>
                    <li><a href="$root/namesrv/getProjectGroup.do"><span class="fa fa-caret-right"></span> GetProjectGroup</a></li>
                    <li><a href="$root/namesrv/updateProjectGroup.do"><span class="fa fa-caret-right"></span> UpdateProjectGroup</a></li>
                    <li><a href="$root/namesrv/deleteProjectGroup.do"><span class="fa fa-caret-right"></span> DeleteProjectGroup</a></li>
                    <li><a href="$root/namesrv/wipeWritePerm.do"><span class="fa fa-caret-right"></span> WipeWritePerm</a></li>
                </ul>
            </li>


            <li>
                <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".message-menu">
                    <i class="fa fa-fw fa-legal"></i> Message<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="message-menu nav nav-list collapse">
                    <li><a href="$root/msg/queryMsgById.do"><span class="fa fa-caret-right"></span> QueryMsgById</a></li>
                    <li><a href="$root/msg/queryMsgByKey.do"><span class="fa fa-caret-right"></span> QueryMsgByKey</a></li>
                    <li><a href="$root/msg/queryMsgByOffset.do"><span class="fa fa-caret-right"></span> QueryMsgByOffset</a></li>
                </ul>
            </li>


            <li>
                <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".broker-menu">
                    <i class="fa fa-fw fa-book"></i> Broker<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="broker-menu nav nav-list collapse">
                    <li><a href="$root/broker/brokerStats.do"><span class="fa fa-caret-right"></span> BrokerStats</a></li>
                    <li><a href="$root/broker/updateBrokerConfig.do"><span class="fa fa-caret-right"></span> UpdateBrokerConfig</a></li>
                </ul>
            </li>


            <li>
                <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".consumer-menu">
                    <i class="fa fa-fw fa-inbox"></i> Consumer<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="consumer-menu nav nav-list collapse">
                    <li><a href="$root/consumer/consumerProgress.do"><span class="fa fa-caret-right"></span> ConsumerProgress</a></li>
                    <li><a href="$root/consumer/deleteSubGroup.do"><span class="fa fa-caret-right"></span> DeleteSubGroup</a></li>
                    <li><a href="$root/consumer/updateSubGroup.do"><span class="fa fa-caret-right"></span> UpdateSubGroup</a></li>
                </ul>
            </li>


            <li>
                <a href="$root/offset/resetOffsetByTime.do" class="nav-header" data-toggle="collapse" data-target=".dashboard-menu">
                    <i class="fa fa-fw fa-paragraph"></i> Offset
                </a>
            </li>


            <li><a href="faq.html" class="nav-header"><i class="fa fa-fw fa-comment"></i> FAQ</a></li>


            <li><a href="#" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>

        </ul>
    </div> <!-- end of navigation  -->