<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->

<div class="navbar navbar-default" role="navigation">
    <!-- start user info -->
    <div class="navbar-collapse collapse" style="height: 1px;">
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"/>&nbsp;
                    $!userName <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu"> <!-- 下拉菜单class样式 -->
                    <li><a tabindex="-1" href="$root/sso/logout.do">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end user info -->
</div>

<div class="sidebar-nav">
    <ul id="navbarEl">
        <li #if($topic_flag) class="$topic_flag" #end>
            <a href="$root/guest/topic.do" class="nav-header" data-toggle="collapse" data-target=".dashboard-menu">
                <i class="fa fa-fw fa-paragraph"></i> Topic
            </a>
        </li>


        <li #if($group_flag) class="$!group_flag" #end data-popover="true" rel="popover" data-placement="right">
            <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".group-menu">
                <i class="fa fa-fw fa-outdent"></i> Group<i class="fa fa-collapse"></i>
            </a>
            <ul class="group-menu nav nav-list collapse">
                <li><a href="$root/group/consumerGroup.do"><span class="fa fa-caret-right"></span> ConsumerGroup</a>
                </li>
                <li><a href="$root/connection/consumerConnection.do"><span class="fa fa-caret-right"></span>
                    ConsumerConnection</a></li>
                <li><a href="$root/connection/producerConnection.do"><span class="fa fa-caret-right"></span>
                    ProducerConnection</a></li>
            </ul>
        </li>


        <li #if($namesrv_flag) class="$!namesrv_flag" #end>
            <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".namesrv-menu">
                <i class="fa fa-fw fa-tags"></i> NameSrv<i class="fa fa-collapse"></i>
            </a>
            <ul class="namesrv-menu nav nav-list collapse">
                <li><a href="$root/gmq/namesrv/getNameSrvAddr.do"><span class="fa fa-caret-right"></span> GetNameSrvAddr</a></li>
            </ul>
        </li>


        <li #if($message_flag) class="$!message_flag" #end>
            <a href="#navbarEl_message" class="nav-header collapsed" data-toggle="collapse" data-target=".message-menu"
               id="navbarEl_message">
                <i class="fa fa-fw fa-legal"></i> Message<i class="fa fa-collapse"></i>
            </a>
            <ul class="message-menu nav nav-list collapse">
                <li><a href="$root/msg/queryMsgById.do"><span class="fa fa-caret-right"></span> QueryMsgById</a></li>
                </li>
            </ul>
        </li>


        <li #if($broker_flag) class="$!broker_flag" #end>
            <a href="#" class="nav-header collapsed" data-toggle="collapse" data-target=".broker-menu">
                <i class="fa fa-fw fa-book"></i> Broker<i class="fa fa-collapse"></i>
            </a>
            <ul class="broker-menu nav nav-list collapse">
                <li><a href="$root/guest/broker.do"><span class="fa fa-caret-right"></span> BrokerList</a></li>
            </ul>
        </li>
        <li #if($faq_flag) class="$!faq_flag" #end>
            <a href="$root/gmq/other/faq.do" class="nav-header collapsed" data-toggle="collapse"
               data-target=".dashboard-menu">
                <i class="fa fa-fw fa-comment"></i> FAQ
            </a>
        </li>
    </ul>
</div> <!-- end of navigation  -->
