<!DOCTYPE html>
<html lang="en">
<head>
    #set($root=$link.getContextPath())
	#parse("head.vm")
	#parse("head-js.vm")
</head>
<body class="theme-blue" role="document">
    #parse("navbar.vm")
    <div class="content" role="main">
        #parse("content-head.vm")
        #parse("msg.vm")
        <!--changed part begin-->
        #parse($bodyPage)
        <!--changed part end -->
        #parse("foot.vm")
    </div>
    #parse("body-js.vm")
</body>
</html>
