<!DOCTYPE html>
<html lang="zh-cn">
<head>
    #set($root=$link.getContextPath())
	#parse("head.vm")
	#parse("head-js.vm")
</head>
<body class="theme-blue" role="document">
    #if($stringUtil.isNotBlank($!session.getAttribute("userType")) && $session.getAttribute("userType") == "1")
        #parse("navbar.vm")
    #else
        #parse("navbar_guest.vm")
    #end

    <div class="content" role="main">
        #parse("content-head.vm")
        #parse("msg.vm")
        <!--changed part begin-->
        #parse($bodyPage)
        <!--changed part end -->
        #parse("foot.vm")
    </div>
    #parse("body-js.vm")
</body>
</html>
