<!DOCTYPE  html>
<html lang="en">
<head>
    #set($root=$link.getContextPath())
	#parse("head.vm")
</head>
<body class="theme-blue">
    #parse("top.vm")
    #parse("menu.vm")
<div class="content">
    <!--changed part begin-->
    #parse("content_top.vm")
        #parse($bodyPage)
    <!--changed part end -->
    #parse("foot.vm")
</div>
    #parse("js.vm")
</body>
</html>
